/* Lime Theme: modifies the default theme to inject a wee bit o' green in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-black: #121212;
  --tf-dark-gray: #1c1c1c;
  --tf-gray: #2b2b2b;
  --tf-light-gray: #444444;
  --tf-text: #f2f2f2;
  --tf-muted-text: #b8b8b8;
  --tf-accent: #ffffff;

  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-text);

  --tf-pill-bg: var(--tf-gray);
  --tf-icon-fill: var(--tf-text);
  --tf-icon-hover: var(--tf-muted-text);

  --tf-page-bg-color: var(--tf-black);
  --tf-footer-bg-color: var(--tf-dark-gray);
  --tf-projects-bg-color: var(--tf-dark-gray);

  --bs-body-color: var(--tf-text);
  --bs-body-bg: var(--tf-black);
  --bs-secondary-color: var(--tf-muted-text);
}

h1, h5 {
  color: #000000;
}

h2, h3, h4 {
  color: var(--tf-text);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-text);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-muted-text);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--tf-dark-gray);
  border-top: none;
  color: var(--tf-text);
}
